pkgbase = paseo-desktop-bin
	pkgdesc = [CUSTOM JASONLANDBRIDGE] - One interface for all your Claude Code, Codex and OpenCode agents.
	pkgver = 0.1.91
	pkgrel = 1
	url = https://paseo.sh
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = binutils
	makedepends = tar
	depends = libxkbcommon
	depends = libxcb
	depends = libgcc
	depends = gtk3
	depends = libxext
	depends = libx11
	depends = libcups
	depends = nspr
	depends = mesa
	depends = dbus
	depends = pango
	depends = libxcomposite
	depends = libxrandr
	depends = nodejs
	depends = glib2
	depends = nss
	depends = libxdamage
	depends = alsa-lib
	depends = systemd-libs
	depends = bash
	depends = hicolor-icon-theme
	depends = cairo
	depends = at-spi2-core
	depends = expat
	depends = libstdc++
	depends = libxfixes
	provides = paseo=0.1.91
	conflicts = paseo
	conflicts = paseo-bin
	conflicts = paseo-appimage
	source = https://github.com/JasonLandbridge/paseo/releases/download/v0.1.91/Paseo-0.1.91-amd64.deb
	sha256sums = 8265a313e257702350f20383a992d0f550cac744e9fbc52829846db4cd79696e

pkgname = paseo-desktop-bin
