pkgbase = qdrant
	pkgdesc = Vector Database for the next generation of AI applications
	pkgver = 1.18.2
	pkgrel = 1
	url = https://qdrant.tech
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = cmake
	makedepends = mold
	makedepends = clang
	makedepends = protobuf
	depends = gcc-libs
	depends = glibc
	source = qdrant-1.18.2.tar.gz::https://github.com/qdrant/qdrant/archive/v1.18.2.tar.gz
	sha256sums = 0f0bf35d65a728702becac549dd9d403bdaa8b898ce7a5cd1a1014f38ee293da

pkgname = qdrant
