pkgbase = qdrant
	pkgdesc = Vector Database for the next generation of AI applications
	pkgver = 1.17.1
	pkgrel = 1
	url = https://qdrant.tech
	arch = x86_64
	license = Apache-2.0
	makedepends = cargo
	makedepends = cmake
	makedepends = mold
	makedepends = clang
	makedepends = protobuf
	depends = gcc-libs
	depends = glibc
	source = qdrant-1.17.1.tar.gz::https://github.com/qdrant/qdrant/archive/v1.17.1.tar.gz
	sha256sums = 32012fab5334b10f20fec5b41a9e9907f9b232cb78d55faa8c1fe6c8f8535629

pkgname = qdrant
