pkgbase = mcp-manager-bin
	pkgdesc = MCP Manager desktop application with Claude Code integration
	pkgver = 0.3.15
	pkgrel = 4
	url = https://github.com/Brightwing-Systems-LLC/mcp-manager
	arch = x86_64
	license = Apache-2.0
	depends = webkit2gtk-4.1
	depends = gtk3
	optdepends = xdg-utils: open external URLs from the desktop environment
	provides = mcp-manager
	conflicts = mcp-manager
	options = !strip
	source = Brightwing.MCP.Manager_0.3.15_amd64.deb::https://github.com/Brightwing-Systems-LLC/mcp-manager/releases/download/v0.3.15/Brightwing.MCP.Manager_0.3.15_amd64.deb
	source = mcp-manager-bin.desktop
	source = LICENSE::https://raw.githubusercontent.com/Brightwing-Systems-LLC/mcp-manager/v0.3.15/LICENSE
	sha256sums = 2452b7f957da68eeffbf82f6d64a2bafde7cfc2869dfd07d9624a1696203048a
	sha256sums = 8348ebccf14989f86af9d566d2aa9670d7c2c869126b768c8da751dc52a055c8
	sha256sums = 4c07a804124ac523f80aeec2080da96b57b5da1e8d1ce64c0c1e42cbd1eea92a

pkgname = mcp-manager-bin
