pkgbase = mcpproxy-bin
	pkgdesc = Smart proxy for AI agents using the Model Context Protocol
	pkgver = 0.27.1
	pkgrel = 1
	url = https://github.com/smart-mcp-proxy/mcpproxy-go
	install = mcpproxy-bin.install
	arch = x86_64
	license = MIT
	backup = etc/mcpproxy/mcp_config.json
	optdepends = systemd: run the bundled mcpproxy.service system unit
	provides = mcpproxy
	conflicts = mcpproxy
	options = !strip
	source = mcpproxy-0.27.1-linux-amd64.tar.gz::https://github.com/smart-mcp-proxy/mcpproxy-go/releases/download/v0.27.1/mcpproxy-0.27.1-linux-amd64.tar.gz
	source = mcpproxy.service
	source = mcp_config.json.example
	source = mcpproxy.sysusers
	source = mcpproxy.tmpfiles
	sha256sums = d2a35cbdd62de85f2b05513056611138283e2900e9c9b15651c2c409ec23152a
	sha256sums = 19c8d26af5a64dd9c384ba9756351ab57769e20cd4049fb486e2dc3ea8bf4356
	sha256sums = f07d24f77cf4e69feec20282ff443fe1f83607495b1d03d0306342b00ddb1a61
	sha256sums = 1bbe4fb3ddf142cd72d9a019f9c6f8bda306378f75a246064e14e967ed8e413e
	sha256sums = b947c2fec3003fc5b99f3376bda680682f4957a2920f69f58ceefa23bf6f6a4a

pkgname = mcpproxy-bin
