pkgbase = qdrant-bin
	pkgdesc = Vector Database for the next generation of AI applications
	pkgver = 1.18.2
	pkgrel = 1
	url = https://qdrant.tech
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = qdrant
	conflicts = qdrant
	source_x86_64 = qdrant-bin-1.18.2.deb::https://github.com/qdrant/qdrant/releases/download/v1.18.2/qdrant_1.18.2-1_amd64.deb
	sha256sums_x86_64 = 8d4d3dd3252c6858f2cb2ef15040c98704f33db3046cacaf6f2ed622dbb43b1e

pkgname = qdrant-bin
