pkgbase = qdrant-bin
	pkgdesc = Vector Database for the next generation of AI applications
	pkgver = 1.19.2
	pkgrel = 1
	url = https://qdrant.tech
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = qdrant
	conflicts = qdrant
	source_x86_64 = qdrant-bin-1.19.2.deb::https://github.com/qdrant/qdrant/releases/download/v1.19.2/qdrant_1.19.2-1_amd64.deb
	sha256sums_x86_64 = c05e56a92fbece506ea7d3d4b56d911d2e905cccf7b7df87465647ee1a1e5f61

pkgname = qdrant-bin
