pkgbase = qdrant-bin
	pkgdesc = Vector Database for the next generation of AI applications
	pkgver = 1.19.0
	pkgrel = 1
	url = https://qdrant.tech
	arch = x86_64
	license = Apache-2.0
	depends = gcc-libs
	depends = glibc
	provides = qdrant
	conflicts = qdrant
	source_x86_64 = qdrant-bin-1.19.0.deb::https://github.com/qdrant/qdrant/releases/download/v1.19.0/qdrant_1.19.0-1_amd64.deb
	sha256sums_x86_64 = 2c73614176642aeb8da5127fb583b4a63398e89c05c87eb2dc12faf1ad9c19ea

pkgname = qdrant-bin
