pkgbase = tabbyml-vulkan-bin
	pkgdesc = Self-hosted AI coding assistant (prebuilt Vulkan binary)
	pkgver = 0.32.0
	pkgrel = 3
	url = https://github.com/TabbyML/tabby
	install = tabbyml-vulkan-bin.install
	arch = x86_64
	license = Apache-2.0
	depends = glibc
	depends = gcc-libs
	depends = zlib
	depends = bash
	depends = curl
	depends = vulkan-icd-loader
	optdepends = katana: crawl developer documentation context providers (upstream requires >= 1.1.2)
	provides = tabbyml=0.32.0
	conflicts = tabbyml
	conflicts = tabbyml-git
	conflicts = tabbyml-bin
	conflicts = tabbyml-cuda-bin
	options = !strip
	source = tabbyml-vulkan-bin-0.32.0.tar.gz::https://github.com/TabbyML/tabby/releases/download/v0.32.0/tabby_x86_64-manylinux_2_28-vulkan.tar.gz
	source = tabbyml.service
	source = tabbyml.env
	source = config.toml
	sha256sums = 33de79ba7de0520bb6b158faaac3c41f0690477f97b4f393f3883320b206113b
	sha256sums = 0add0c190349ff65fc804d02261c606a7d59235aa8a1a0edf0701b18fbd3c1d6
	sha256sums = 3357f3f9f1c6df837a366051201a55e9d5dbfcd6e4627e7565a9f8704481169a
	sha256sums = 019d34e8cde65c2ea7d198df2d1e0062bdbfa449510b4432fa90800364a64816

pkgname = tabbyml-vulkan-bin
